<div class="footer">
  <div class="footer_copyright">&copy;2023 Copyright</div>
  <div class="footer_list">
    <div class="footer_list--item">Contact</div>
    <div class="footer_list--item">Privacy</div>
    <div class="footer_list--item">Terms</div>
    <div class="footer_list--item">About</div>
  </div>
  <div class="footer_icons">
    <div class="footer_icon">
      <a href="#"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="footer_icon">
      <a href="#"><i class="bi bi-twitter"></i></a>
    </div>

    <div class="footer_icon">
      <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="footer_icon">
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</div>
