<div class="container">
  <div class="row navbar-top">
    <div class="col-3 logo text-start">
      <span style="color: var(--main-color)">Fara</span>
      <span style="color: #ffffff">dise</span>
    </div>
    <div class="col-6 text-center search-bar--group">
      <div class="search-bar input-group mb-4 border rounded-pill p-1">
        <div class="input-group-prepend border-0">
          <button
            id="button-addon4"
            type="button"
            class="btn btn-link text-dark"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
        <input
          type="search"
          placeholder="What're you searching for?"
          aria-describedby="button-addon4"
          class="form-control border-0"
        />
      </div>
    </div>
    <div class="col-3 group-items-lg text-end row">
      <div class="col-6 login">
        <span>Login</span>
      </div>
      <div class="col-6 signup"><span>Sign up</span></div>
    </div>

    <nav class="col-9 text-end navbar navbar-sm navbar-expand-lg">
      <div class="row text-end container-fluid">
        <div class="col-auto"></div>
        <button
          style="
            background-color: #fff;
            margin-top: -3px;
            padding-left: 8px;
            padding-right: 8px;
          "
          class="col-auto text-end navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" style="font-size: 1rem"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <div></div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/']"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/category']"
                  >Category</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/author']"
                  >Author</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/about']"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/contact']"
                  >Contact</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="login nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/login']"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="signup nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  [routerLink]="['/signup']"
                  >Sign up</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <hr />

  <ul class="navbar navbar-large">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="['/']"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="['/category']"
        >Category</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="['/author']"
        >Author</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="['/about']"
        >About</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        [routerLink]="['/contact']"
        >Contact</a
      >
    </li>
  </ul>
</div>
