<div class="header">
  <div class="header_bg">
    <app-header></app-header>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-6 contact_img">
      <img
        src="https://images.unsplash.com/photo-1496950866446-3253e1470e8e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="beach image"
      />
    </div>
    <div class="col-6 contact_main">
      <div class="contact_main--header">Connect@Faradise</div>
      <div class="footer_icons">
        <div class="footer_icon">
          <a href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="footer_icon">
          <a href="#"><i class="bi bi-twitter"></i></a>
        </div>

        <div class="footer_icon">
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="footer_icon">
          <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="contact_main--text">
        I love to share my knowledge and travel experience with you all. For all
        inquiries please contact below.
      </div>
      <form class="subcribe_form">
        <input type="text" placeholder="Full Name" />
        <input type="text" placeholder="Your Email" />
        <button type="submit">SUBCRIBE</button>
      </form>
    </div>
  </div>
</div>

<img
  class="footer_img"
  src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  alt="img"
/>
