<div class="card post_card">
  <img
    src="https://miro.medium.com/v2/resize:fit:1100/0*FEPn2kAf84FUTGTP"
    class="card-img-top post_card--image"
    alt="..."
  />
  <div class="card-body post_card--body">
    <h5 class="card-title post_card--title">
      13 Things I'd Tell Any New Travelers
    </h5>
    <p class="card-text post_card--text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content...
    </p>
    <a href="#" class="post_card--cate">Category</a>
    <span style="color: var(--secondary-text-color); font-size: 13px">By</span>
    <span class="post_card--author">Adam Smith</span>
  </div>
</div>
