<div class="card horizontal_post--cart">
  <div class="row g-0">
    <div class="col-sm-4 col-4">
      <img
        src="https://miro.medium.com/v2/resize:fit:1100/0*FEPn2kAf84FUTGTP"
        class="img-fluid rounded-start post_card--image"
        alt="..."
      />
    </div>
    <div class="col-sm-8 col-8">
      <div class="card-body post_card--body">
        <h5 class="card-title post_card--title">
          13 Things I'd Tell Any New Travelers
        </h5>
        <div class="post_card--sub">
          <span style="color: var(--secondary-text-color); font-size: 11px"
            >Posted by</span
          >
          <span class="post_card--author">Adam Smith</span>
        </div>
        <div class="post_card--date">10 Nov, 2023</div>
        <p class="card-text post_card--text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, ut.
          Vitae aspernatur cum consequuntur voluptates...
        </p>
        <div class="post_card--readmore">READ MORE...</div>
      </div>
    </div>
  </div>
</div>
