<div class="header">
  <div class="header_bg">
    <app-header></app-header>
  </div>
</div>

<div class="container text-center">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div
      *ngFor="let category of categories; let i = index"
      class="accordion-item"
    >
      <h2 class="accordion-header" [id]="'panelsStayOpen-heading-' + i">
        <button
          class="accordion-button"
          [ngClass]="{ collapsed: i !== 0 }"
          type="button"
          data-bs-toggle="collapse"
          [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
          [attr.data-bs-target]="'#panelsStayOpen-collapse-' + i"
          [attr.aria-controls]="'#panelsStayOpen-collapse-' + i"
        >
          {{ category.category }}
        </button>
      </h2>
      <div
        [id]="'panelsStayOpen-collapse-' + i"
        class="accordion-collapse collapse"
        [ngClass]="{ show: i === 0 }"
        [attr.aria-labelledby]="'#panelsStayOpen-heading-' + i"
      >
        <div class="accordion-body text-center">
          <div
            class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4 text-center featured_list--posts"
          >
            <div *ngFor="let item of posts.slice(0, 6)" class="col text-center">
              <app-post-card></app-post-card>
            </div>
          </div>
          <div *ngIf="posts.length > 10" class="accordion_btn--more">
            More...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
