<div class="home-img">
  <div class="header-bg">
    <app-header></app-header>
    <div class="header-box">
      <h1 class="box-qs">Where you will go next?</h1>
      <p class="box-des">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
        veritatis unde corrupti assumenda ipsam voluptatum iure distinctio? Modi
        doloremque magni iure totam illo, eius dolor minus? Ducimus sit aperiam
        temporibus reiciendis consectetur adipisci!
      </p>
      <h2 class="box-yellow">Let's go...</h2>
    </div>
  </div>
</div>
