<div class="home-header">
  <div class="header-bg">
    <app-header></app-header>
    <div class="header-box">
      <h1 class="box-qs">Where you will go next?</h1>
      <p class="box-des">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
        veritatis unde corrupti assumenda ipsam voluptatum iure distinctio? Modi
        doloremque magni iure totam illo, eius dolor minus? Ducimus sit aperiam
        temporibus reiciendis consectetur adipisci!
      </p>
      <h2 class="box-yellow">Let's go...</h2>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="category_list">
    <h3>Choose a Category</h3>

    <p-carousel
      [value]="images"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-image pTemplate="item">
        <div class="cate_item">
          <img src="{{ image.cate_img }}" class="cate_img" alt="..." />
          <!-- <div class="cate_body"> -->
            <div class="cate_name">{{ image.category }}</div>
          <!-- </div> -->
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
