/* ================================  HEADER  ================================== */

.home-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/header.png");
}

.header-bg {
  width: 100%;

  position: relative;
  height: 600px;
  background: linear-gradient(
    /* 89.82deg,
    #1e1e1e -6.88%,
    rgba(0, 0, 0, 0) 87.45%,
    #1e1e1e 100.88% */
      89.82deg,
    rgba(0, 0, 0, 0.9) -10%,
    rgba(0, 0, 0, 0.5) 50.45%,
    rgba(10, 10, 10, 0.9) 100%
  );
}

.header-box {
  position: absolute;
  color: #fff;
  width: 60%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-qs {
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  text-align: center;
}

.box-des {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
}

.box-yellow {
  color: #ffa902;
  font-weight: bold;
}

/* ================================  CATEGORY CAROUSEL  ================================== */

.category_list {
  width: 80%;
  min-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.category_list > h3 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
}

.cate_item {
  width: 100%;
  max-width: 250px;
  height: 220px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.cate_img {
  cursor: pointer;
  max-width: 100%;
  height: 220px;
  border-radius: 10px;
  opacity: 0.4;
}

.overlay {
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 10px;
}

.cate_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/* ================================  FEATURED LIST  ================================== */

.featured-list {
  width: 80%;
  min-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.featured-list > h3 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
}

#plp-paginate {
  font-size: 14px;
  font-weight: 500;
}

#plp-paginate > .pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#plp-paginate > .pagination > li > a,
#plp-paginate > .pagination > li > span {
  color: #000;
  background-color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 17px;
  font-weight: 500;
}

#plp-paginate > .pagination > li > .navigate {
  opacity: 0.7;
  border-top: 3px;
  margin: 0px 8px;
  border: none !important;
}

.pagination > li > a,
.pagination > li > span,
#plp-paginate > .pagination > li > .navigate:hover {
  border: none;
}

#plp-paginate > .pagination > li > .navigate:hover {
  opacity: 1;
}

#plp-paginate > .pagination > li > a:hover,
#plp-paginate > .pagination > li > span:hover,
#plp-paginate > .pagination > li > a:focus,
#plp-paginate > .pagination > li > span:focus {
  color: var(--main-color);
  background-color: #fff;
}

#plp-paginate > .pagination > .active > a,
#plp-paginate > .pagination > .active > span,
#plp-paginate > .pagination > .active > a:hover,
#plp-paginate > .pagination > .active > span:hover,
#plp-paginate > .pagination > .active > a:focus,
#plp-paginate > .pagination > .active > span:focus {
  color: var(--main-color);
  border: none;
  background-color: #fff;
}

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.sc-sprite-hotbuys-arrow {
  background-position: -256px -116px;
  width: 30px;
  height: 30px;
  background-image: url(http://localhost:8180/sams/redesign/shared/sherpa/sprite.png);
  display: inline-block;
}

/* ================================  LATEST POSTS  ================================== */

.latest_list {
  width: 80%;
  min-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.latest_list--main {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.latest_posts--list {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.latest_list--side {
  flex: 1;
}

.popular_list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: left;
  padding: 15px;
  border-radius: 8px;
}

.popular_list > h5,
.follow_form > h5 {
  margin-bottom: 15px;
  font-weight: 700;
}

.popular_posts {
  margin-left: auto;
  margin-right: auto;
}

.follow_form {
  box-shadow: 0 0 10px rgba(212, 211, 211, 0.4);
  border-radius: 8px;
  margin-top: 30px;
  padding: 15px;
  text-align: left;
}

.follow_form--icons {
  display: flex;
}

.follow_form--icon {
  box-shadow: 0 0 10px rgba(207, 207, 207, 0.4);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.follow_form--icon:hover {
  background-color: var(--main-color);
  color: #fff;
}

.follow_form--icon > a {
  color: var(--secondary-text-color);
}

.subcribe_form,
.subcribe_form--fullsize {
  color: #fff;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 5px;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subcribe_form--header {
  font-size: 18px;
  font-weight: 700;
}

.subcribe_form--text {
  font-size: 15px;
  margin-bottom: 5px;
}

.subcribe_form > input,
.subcribe_form--formbox > input {
  border-radius: 8px;
  border: none;
  height: 35px;
  padding: 10px;
}

.subcribe_form > input::placeholder,
.subcribe_form--formbox > input::placeholder {
  color: #d7d7d7;
  font-size: 15px;
}

.subcribe_form > input:focus,
.subcribe_form--formbox > input:focus {
  outline: none;
}

.subcribe_form > button,
.subcribe_form--formbox > button {
  border: none;
  border-radius: 8px;
  color: var(--main-color);
  font-size: 15px;
  height: 35px;
  margin-top: 5px;
  background-color: #fff;
  font-weight: 500;
}

.subcribe_form--fullsize {
  display: none;
}

.subcribe_form--formbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
}

.subcribe_form--formbox > input {
  flex: 3;
}

.subcribe_form--formbox > button {
  flex: 1;
}

/* ================================  BREAKPOINT  ================================== */

@media (max-width: 900px) {
  .header-box {
    width: 70%;
    min-width: 500px;
  }
  .box-qs {
    letter-spacing: 1.2px;
  }
}

@media (max-width: 991px) {
  .subcribe_form--fullsize {
    display: block;
    text-align: center;
    border-radius: 0px;
    gap: 20px;
    width: 100%;
    max-width: 100vw;
  }

  .latest_list--side {
    display: none;
  }

  .latest_posts--list {
    width: 100%;
  }

  .subcribe_form--header {
    font-size: 26px;
  }

  .subcribe_form--formbox > button {
    margin-top: 0;
    width: 100px;
  }
}

@media (max-width: 767.98px) {
  .box-qs {
    font-size: 40px;
  }

  .box-des {
    font-size: 13px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .featured-list {
    width: 90%;
  }

  .latest_posts--list {
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .header-box {
    min-width: 0px;
    width: 95%;
  }
  .box-qs {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 30px;
  }

  .box-des {
    font-size: 13px;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .category_list {
    width: 90%;
    min-width: 0px;
  }

  .cate_item {
    width: 100%;
    max-width: 180px;
    height: 150px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .cate_img {
    max-width: 100%;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .featured_list--posts > .col {
    max-width: 300px;
  }

  .featured-list {
    width: 80%;
    min-width: 0px;
  }

  .featured_list--posts {
    display: flex;
    justify-content: center;
  }

  .latest_list {
    width: 95%;
    min-width: 0px;
  }

  .subcribe_form--fullsize {
    margin-top: 15px;
  }

  .subcribe_form--formbox {
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .subcribe_form--header {
    font-size: 20px;
  }

  .subcribe_form--text {
    font-size: 14px;
  }

  .subcribe_form--formbox > input {
    height: 30px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
  }

  .subcribe_form--formbox > input::placeholder {
    font-size: 14px;
  }

  .subcribe_form--formbox > button {
    font-size: 14px;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
  }
}

/* ==============================  CONFIG PRIMENG CSS ============================== */

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev,
::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  width: 2rem;
  height: 2rem;
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin: 0.5rem;
  display: none;
}

/* ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: #e9ecef;
  width: 1rem;
  height: 1rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  margin-left: 5px;
  border: none;
} */

::ng-deep .p-carousel .p-carousel-indicators {
  margin-top: 5px;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 40px;
  height: 6px;
  margin-left: 5px;
  margin-top: 10px;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator::marker {
  color: #fff;
}

::ng-deep .p-carousel .p-carousel-indicators .p-highlight button {
  background-color: var(--main-color);
}
