<div class="home-header">
  <div class="header-bg">
    <app-header></app-header>
    <div class="header-box">
      <h1 class="box-qs">Where you will go next?</h1>
      <p class="box-des">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
        veritatis unde corrupti assumenda ipsam voluptatum iure distinctio? Modi
        doloremque magni iure totam illo, eius dolor minus? Ducimus sit aperiam
        temporibus reiciendis consectetur adipisci!
      </p>
      <h2 class="box-yellow">Let's go...</h2>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="category_list">
    <h3>Choose a Category</h3>
    <p-carousel
      [value]="images"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-image pTemplate="item">
        <div class="cate_item">
          <div class="overlay">
            <img src="{{ image.cate_img }}" class="cate_img" alt="..." />
            <div class="cate_name">{{ image.category }}</div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="featured-list text-center" id="plp-paginate">
    <h3 id="scrollTarget">Featured Explore</h3>
    <!-- items being paged -->
    <div
      class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4 text-center featured_list--posts"
    >
      <div *ngFor="let item of featured_posts" class="col">
        <app-post-card></app-post-card>
      </div>
    </div>

    <!-- pager -->
    <ul *ngIf="pager.totalPages > 1" class="pagination">
      <li *ngIf="pager.currentPage !== 1">
        <a
          (click)="setPage(pager.currentPage - 1); $event.preventDefault()"
          class="sc-sprite-hotbuys-arrow flip-horizontal navigate"
          href="#"
        ></a>
      </li>
      <!-- <li [class.active]="pager.currentPage === 1">
          <a (click)="setPage(1)" href="#">1</a>
        </li> -->
      <li *ngIf="pager.startEllipses">
        <span>...</span>
      </li>
      <li
        *ngFor="let page of pager.pages"
        [class.active]="pager.currentPage === page"
      >
        <a (click)="setPage(page); $event.preventDefault()" href="#">{{
          page
        }}</a>
      </li>
      <li *ngIf="pager.endEllipses">
        <span>...</span>
      </li>
      <!-- <li [class.active]="pager.currentPage === pager.totalPages">
          <a (click)="setPage(pager.totalPages)" href="#">{{
            pager.totalPages
          }}</a>
        </li> -->
      <li *ngIf="pager.currentPage !== pager.totalPages">
        <a
          class="sc-sprite-hotbuys-arrow navigate"
          (click)="setPage(pager.currentPage + 1)"
          href="#"
        ></a>
      </li>
    </ul>
  </div>

  <div class="latest_list text-center">
    <h3>Our Latest Blogs</h3>
    <div class="latest_list--main">
      <div class="latest_posts--list">
        <!-- <div *ngFor="let item of items" class="col"> -->
        <app-horizontal-post-card></app-horizontal-post-card>
        <!-- </div> -->
        <app-horizontal-post-card></app-horizontal-post-card>
        <app-horizontal-post-card></app-horizontal-post-card>
        <app-horizontal-post-card></app-horizontal-post-card>
        <app-horizontal-post-card></app-horizontal-post-card>
      </div>
      <div class="latest_list--side">
        <div class="popular_list">
          <h5>Popular posts</h5>
          <div class="popular_posts">
            <app-popular-post-card></app-popular-post-card>
            <app-popular-post-card></app-popular-post-card>
            <app-popular-post-card></app-popular-post-card>
            <app-popular-post-card></app-popular-post-card>
            <app-popular-post-card></app-popular-post-card>
          </div>
        </div>

        <div class="follow_form">
          <h5>Follow me</h5>
          <div class="follow_form--icons">
            <div class="follow_form--icon">
              <a href="#"><i class="bi bi-facebook"></i></a>
            </div>
            <div class="follow_form--icon">
              <a href="#"><i class="bi bi-twitter"></i></a>
            </div>

            <div class="follow_form--icon">
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
            <div class="follow_form--icon">
              <a href="#"><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>

        <form class="subcribe_form">
          <div class="subcribe_form--header">Subcribe Today</div>
          <div class="subcribe_form--text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut
            necessitatibus voluptates vero.
          </div>
          <input type="text" placeholder="Full Name" />
          <input type="text" placeholder="Your Email" />
          <button type="submit">SUBCRIBE</button>
        </form>
      </div>
    </div>
  </div>
</div>

<form class="subcribe_form--fullsize">
  <div class="subcribe_form--header">Subcribe Today</div>
  <div class="subcribe_form--text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut necessitatibus
    voluptates vero.
  </div>
  <div class="subcribe_form--formbox">
    <input type="text" placeholder="Full Name" />
    <input type="text" placeholder="Your Email" />
    <button type="submit">SUBCRIBE</button>
  </div>
</form>
