/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --main-color: #ffa902;
  --normal-text-color: #868383;
  --secondary-text-color: #696969;
}

body {
  overflow-x: hidden;
}

app-root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
